<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
</head>
<body>
  <div id="root"></div>
</body> 
</html>